In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 

df=pd.read_csv("winequality-white.csv",sep=";")
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [7]:
df.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4898 entries, 0 to 4897
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         4898 non-null   float64
 1   volatile acidity      4898 non-null   float64
 2   citric acid           4898 non-null   float64
 3   residual sugar        4898 non-null   float64
 4   chlorides             4898 non-null   float64
 5   free sulfur dioxide   4898 non-null   float64
 6   total sulfur dioxide  4898 non-null   float64
 7   density               4898 non-null   float64
 8   pH                    4898 non-null   float64
 9   sulphates             4898 non-null   float64
 10  alcohol               4898 non-null   float64
 11  quality               4898 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 459.3 KB

In [8]:
df.dtypes

fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
dtype: object

In [9]:
x = df.drop(columns=['alcohol'],axis=1)

In [11]:
y=df.alcohol

In [14]:
from sklearn.model_selection import train_test_split

In [20]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.8,random_state=1)

In [21]:
print(x_train.shape,y_train.shape)
print(x_test.shape,y_test.shape)

(3918, 11) (3918,)
(980, 11) (980,)

In [22]:
data = {'Model Name': [], 'MAPE': [],'RMSE':[],'RMSLE':[]}
df1 = pd.DataFrame(data)
df1

Empty DataFrame
Columns: [Model Name, MAPE, RMSE, RMSLE]
Index: []

In [31]:
from sklearn.linear_model import LinearRegression
import warnings
warnings.filterwarnings("ignore")

In [32]:
model_ler = LinearRegression().fit(x_train,y_train)
pred = model_ler.predict(x_test)

In [33]:
import math
from scipy import stats

rmse = np.sqrt(np.mean((y_test - pred)**2))

mape = (np.mean(np.abs(((y_test - pred)/y_test))))*100

rmsle = np.sqrt(np.square(np.log(pred + 1) - np.log(y_test + 1)).mean())

df2 = {'Model Name': 'Linear regression', 'MAPE':mape,'RMSE':rmse,'RMSLE':rmsle}
df = df.append(df1, ignore_index = True)
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Model Name,MAPE,RMSE,RMSLE
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6.0,NaN,NaN,NaN,NaN
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6.0,NaN,NaN,NaN,NaN
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6.0,NaN,NaN,NaN,NaN
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6.0,NaN,NaN,NaN,NaN
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4893,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6.0,NaN,NaN,NaN,NaN
4894,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5.0,NaN,NaN,NaN,NaN
4895,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6.0,NaN,NaN,NaN,NaN
4896,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7.0,NaN,NaN,NaN,NaN
4897,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6.0,NaN,NaN,NaN,NaN

In [35]:
# svm 
from  sklearn.svm import SVR
model_svr = SVR().fit(x_train,y_train)
pred = model_svr.predict(x_test)

# RMSE
rmse = np.sqrt(np.mean((y_test - pred)**2))

# MAPE
mape = (np.mean(np.abs(((y_test - pred)/y_test))))*100

#RMSLE
rmsle = np.sqrt(np.square(np.log(pred + 1) - np.log(y_test + 1)).mean())

df2 = {'Model Name': 'SVM regression', 'MAPE':mape,'RMSE':rmse,'RMSLE':rmsle}
df = df.append(df1, ignore_index = True)
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Model Name,MAPE,RMSE,RMSLE
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6.0,NaN,NaN,NaN,NaN
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6.0,NaN,NaN,NaN,NaN
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6.0,NaN,NaN,NaN,NaN
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6.0,NaN,NaN,NaN,NaN
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4895,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6.0,NaN,NaN,NaN,NaN
4896,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7.0,NaN,NaN,NaN,NaN
4897,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6.0,NaN,NaN,NaN,NaN
4898,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SVM regression,7.276484,1.01359,0.084838
4899,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SVM regression,7.276484,1.01359,0.084838

In [37]:
#ridge regression
from sklearn.linear_model import Ridge
ridgeReg = Ridge(alpha=0.0005, normalize=True)
ridgeReg.fit(x_train,y_train)
pred = ridgeReg.predict(x_test)

# RMSE
rmse = np.sqrt(np.mean((y_test - pred)**2))

# MAPE
mape = (np.mean(np.abs(((y_test - pred)/y_test))))*100

#RMSLE
rmsle = np.sqrt(np.square(np.log(pred + 1) - np.log(y_test + 1)).mean())

df2 = {'Model Name': 'Ridge regression', 'MAPE':mape,'RMSE':rmse,'RMSLE':rmsle}
df = df.append(df1, ignore_index = True)
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Model Name,MAPE,RMSE,RMSLE
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6.0,NaN,NaN,NaN,NaN
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6.0,NaN,NaN,NaN,NaN
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6.0,NaN,NaN,NaN,NaN
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6.0,NaN,NaN,NaN,NaN
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4897,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6.0,NaN,NaN,NaN,NaN
4898,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SVM regression,7.276484,1.013590,0.084838
4899,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SVM regression,7.276484,1.013590,0.084838
4900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ridge regression,2.866276,0.394322,0.034123
4901,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ridge regression,2.866276,0.394322,0.034123

In [38]:
# lasso regression
from sklearn.linear_model import Lasso
lassoReg = Lasso(alpha=0.0005, normalize=True)
lassoReg.fit(x_train,y_train)
pred = lassoReg.predict(x_test)

# RMSE
rmse = np.sqrt(np.mean((y_test - pred)**2))

# MAPE
mape = (np.mean(np.abs(((y_test - pred)/y_test))))*100

#RMSLE
rmsle = np.sqrt(np.square(np.log(pred + 1) - np.log(y_test + 1)).mean())

df2 = {'Model Name': 'Lasso regression', 'MAPE':mape,'RMSE':rmse,'RMSLE':rmsle}
df = df.append(df1, ignore_index = True)
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Model Name,MAPE,RMSE,RMSLE
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6.0,NaN,NaN,NaN,NaN
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6.0,NaN,NaN,NaN,NaN
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6.0,NaN,NaN,NaN,NaN
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6.0,NaN,NaN,NaN,NaN
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4898,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SVM regression,7.276484,1.013590,0.084838
4899,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SVM regression,7.276484,1.013590,0.084838
4900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ridge regression,2.866276,0.394322,0.034123
4901,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ridge regression,2.866276,0.394322,0.034123
4902,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ridge regression,2.866276,0.394322,0.034123

In [40]:
from sklearn.tree import DecisionTreeRegressor

dtreg= DecisionTreeRegressor(max_depth=5)
dtreg.fit(x_train,y_train)
pred = dtreg.predict(x_test)

# RMSE
rmse = np.sqrt(np.mean((y_test - pred)**2))

# MAPE
mape = (np.mean(np.abs(((y_test - pred)/y_test))))*100

#RMSLE
rmsle = np.sqrt(np.square(np.log(pred + 1) - np.log(y_test + 1)).mean())

df2= {'Model Name': 'Decision Tree regression', 'MAPE':mape,'RMSE':rmse,'RMSLE':rmsle}
df = df.append(df1, ignore_index = True)
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Model Name,MAPE,RMSE,RMSLE
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6.0,NaN,NaN,NaN,NaN
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6.0,NaN,NaN,NaN,NaN
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6.0,NaN,NaN,NaN,NaN
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6.0,NaN,NaN,NaN,NaN
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ridge regression,2.866276,0.394322,0.034123
4901,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ridge regression,2.866276,0.394322,0.034123
4902,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ridge regression,2.866276,0.394322,0.034123
4903,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ridge regression,2.866276,0.394322,0.034123
4904,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ridge regression,2.866276,0.394322,0.034123